.bg{
    background-color: #d915bc;
}
.panelBody{
    padding: 15px ;
    background-color: #4df32300 ;
    border-radius: 15px ;
    width: 320px !important;
    box-shadow: 0 0 10px #F4E552 !important;
}
.rowPad{
    padding: 5px;
    color: green; 
}
.inputCss{
    font-size: 12pt !important;
    text-align: right !important;
    color: black;
}
.resultCss{
    font-size: 15pt !important;
    text-align: right !important;
    font-weight: bold !important;
    color: black !important;
}
.heading{
    color: #ffffff ;
}
.es{
    color: #279cb6 ;
}